# Игнорировать все CSV файлы, кроме тех, что в папке refs
*.csv
!refs/*.csv

# Игнорировать архивные файлы (верхний и нижний регистр)
*.zip
*.ZIP

# Игнорировать DBF файлы (верхний и нижний регистр)
*.dbf
*.DBF
*.xml

# Игнорировать PDF файлы (верхний и нижний регистр)
*.pdf
*.PDF

# Игнорировать Excel файлы
*.xls
*.xlsx
*.XLS
*.XLSX

*.pyc